header{
    background-color: blue;
    color: yellow;
    text-align: center;
    font-family: 'pottaone';
}
article.uno{
    width: 25%;
    background-color: rgb(14, 209, 209);
    color: white;
    float: left;
    
}
article.dos{
    width: 100%;
    
    color: yellow;
    line-height: 200%;
  
    
    }
    span.negro{
        background-color: black;
    }
    @font-face{
        font-family: 'pottaone';
        src: url(fuentes/PottaOne-Regular.ttf);
    }
   br.parada{
       clear: both;
   }
   article.tres{
    font-family: 'Coda Caption', sans-serif;
    text-align: justify;
   }

   @font-face{
       font-family: 'yusei';
       src: url(fuentes/YuseiMagic-Regular.ttf);
   }
   article.cuatro{
       font-family: 'yusei';
   }
   hr.azul{
       color: blue;
       background-color: blue;
       height: 20px;
   }